<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" type="text/css" href="static/panelstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <img src="static/assets/banner.png" alt="banner">
        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    </header>
    <% servers.forEach(function(server){ %>
        <div class="server">
            <h1><%= server.name %> </h1>
            <p><%= server.isValid %> </p>
        </div>
    <% }); %>

    
</body>
</html>